body {
	background-color: lavender;
}

img {
    max-width: 100%;
    max-height: 100%;
}

iframe {
	frameBorder: "0";
}

#image-div {
	margin: 200px 100px 250px 400px;
	/*margin: auto 0;*/
	width: 200px;
/*	background-color: lavender;
	border: 2px solid black;*/
}

@keyframes age2 {
  from {
  	transform: scale(1);
  	margin-left: 400px;
  	margin-top: 200px;
  }
  to {
  	transform: scale(2.5);
  	margin-left: 300px;
  	margin-top: 250px;
  }
}

@keyframes age3 {
  from {
  	transform: scale(2.5);
  	margin-left: 300px;
  	margin-top: 250px;
  }
  to {
  	transform: scale(4);
  	margin-left: 250px;
  	margin-top: 300px;
  }
}

@keyframes age4 {
  from {
  	transform: scale(4);
  	margin-left: 250px;
  	margin-top: 300px;
  }
  to {
  	transform: scale(5.5);
  	margin-left: 200px;
  	margin-top: 350px;
  }
}

#boredom-meter {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: left;
  /*border: 1px solid black;*/
  width: 90px;
  height: 15px;
  background-color: white;
  margin:; 5px;
  /*margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 30px;*/
}

/*.div-base-color {
	background-color: white;
}*/
.div-alert-color {
  background-color: red;	
}
.div-meter-color {
	background-color: royalblue;
}

.div-specs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  font-size: 8pt;
  /*border: 1px solid black;*/
  width: 15px;
  height: 15px;
  /*margin: 5px;*/

}


