body {
	background-color: lavender;
	margin: 50px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

iframe {
	frameBorder: "0";
}

button {
	margin: 10px 0;
}

input {
  width: 300px;
  margin-right: 10px;
  border-color: #17A2B9;
  font-size: 20px;
  border-radius: 5px;
}

#image-div {
	margin: 100px 100px 250px 600px;
	/*margin: auto 0;*/
	width: 200px;
/*	background-color: lavender;
	border: 2px solid black;*/
}

.meter-div {
	/*margin: 10px;*/
	/*padding-top: 5px;*/
}

.meter {
  display: inline-flex;
  justify-content: left;
  width: 300px;
  height: 15px;
  background-color: white;
  margin-right: 10px;
}

.sleep-meter-color {
  background-color: #343A40;	
}
.wake-meter-color {
  background-color: #FFC105;	
}
.hunger-meter-color {
  background-color: #28A645;	
}
.boredom-meter-color {
  background-color: #0D7BFF;	
}
.meter-alert-color {
  background-color: red;	
}


.meter-specs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /*border: 1px solid black;*/
  width: 30px;
  height: 15px;
  /*margin: 5px;*/

}

@keyframes age2 {
  from {
  	transform: scale(1);
  	margin-left: 600px;
  	margin-top: 100px;
  }
  to {
  	transform: scale(2.5);
  	margin-left: 650px;
  	margin-top: 200px;
  }
}

@keyframes age3 {
  from {
  	transform: scale(2.5);
  	/*margin-left: 650px;*/
  	margin-top: 200px;
  }
  to {
  	transform: scale(4);
  	/*margin-left: 700px;*/
  	margin-top: 300px;
  }
}

@keyframes age4 {
  from {
  	transform: scale(4);
  	/*margin-left: 700px;*/
  	margin-top: 300px;
  }
  to {
  	transform: scale(5.5);
  	/*margin-left: 750px;*/
  	margin-top: 400px;
  }
}

